<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Chat-Fie</title>
  <link rel="stylesheet" href="stylesss.css">
</head>
<body>
  <div class="about-container">
    <h1>About Chat-Fie</h1>
    <p>Chat-Fie is a mental wellness chatbot built with love and empathy by Bhavana Sukumaran. It helps users track emotions, reflect on their mood, and get support when they need it the most.</p>
    
    <h2>Contact</h2>
    <p>Email: <a href="mailto:bhavanasukumaran002l@gmail.com">bhavanasukumaran002@gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/bhavana-sukumaran-b10a0a1bb?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Bhavana_Linkedin</a></p>
  </div>
</body>
</html>
